* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 16px;
  min-height: 0;
}

window#waybar {
  background: rgba(0, 0, 0, 0);
  color: #FFFCF0;
}

tooltip {
  background: #100F0F;
  opacity: 0.9;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #1C1B1A;
}

tooltip label {
  color: #FFFCF0;
}

#workspaces button {
  padding: 5px;
  color: #FFFCF0;
  margin-right: 5px;
}

#workspaces button.active {
  color: #000000;
  background: #100F0F;
  border-radius: 10px;
}

#workspaces button:hover {
  background: #100F0F;
  color: #FFFCF0;
  border-radius: 10px;
}

#custom-launch_wofi,
#custom-launch_firefox,
#custom-launch_thunderbird,
#custom-launch_thunar,
#custom-launch_kitty,
#custom-lock_screen,
#custom-power_btn,
#custom-power_profile,
#window,
#cpu,
#disk,
#custom-updates,
#memory,
#clock,
#battery,
#pulseaudio,
#network,
#tray,
#temperature,
#workspaces,
#idle_inhibitor,
#backlight {
  background: rgba(21, 18, 27, 0);
  opacity: 1;
  padding: 0px 8px;
  margin: 0px 3px;
  border: 0px;
}

#temperature.critical {
  color: #AF3029;
}
#temperature.warning {
  color: #BC5215;
}

#workspaces {
  padding-right: 0px;
  padding-left: 5px;
}

#window {
  border-radius: 10px;
  margin-left: 0px;
  margin-right: 0px;
}

#custom-launch_firefox,
#custom-launch_thunderbird,
#custom-launch_thunar,
#custom-launch_wofi,
#custom-launch_kitty,
#custom-weather {
  margin-left: 0px;
  border-right: 0px;
  font-size: 24px;
  margin-right: 20px;
}

#custom-launch_firefox,
#custom-launch_kitty {
  font-size: 20px;
}
